flows.json
[{"id":"b40bf3.8402f41","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3463280a.1a50c8","type":"debug","z":"b40bf3.8402f41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"20c1da36.9d7526","type":"function","z":"b40bf3.8402f41","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["3463280a.1a50c8","7ce97666.24ef08"]]},{"id":"52b22bda.4e6654","type":"function","z":"b40bf3.8402f41","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["3463280a.1a50c8","5f1c9e45.5edea"]]},{"id":"92cea3fb.bd2cd","type":"http in","z":"b40bf3.8402f41","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["3edb7d5d.75b032"]]},{"id":"95cffa1c.f2f658","type":"http response","z":"b40bf3.8402f41","name":"","statusCode":"","headers":{},"x":490,"y":440,"wires":[]},{"id":"3edb7d5d.75b032","type":"function","z":"b40bf3.8402f41","name":"httpresponse","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\"moisture\":global.get('moisture')}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["95cffa1c.f2f658"]]},{"id":"3178d12e.a4cfde","type":"debug","z":"b40bf3.8402f41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":540,"wires":[]},{"id":"dbc5a309.865fe","type":"http in","z":"b40bf3.8402f41","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":160,"y":600,"wires":[["fd25c058.c5931"]]},{"id":"a8157a0.84d2588","type":"http response","z":"b40bf3.8402f41","name":"","statusCode":"","headers":{},"x":570,"y":600,"wires":[]},{"id":"fd25c058.c5931","type":"function","z":"b40bf3.8402f41","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["a8157a0.84d2588","49dc4a6b.b14a64","8f8281ff.224cd"]]},{"id":"49dc4a6b.b14a64","type":"debug","z":"b40bf3.8402f41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":640,"wires":[]},{"id":"8f8281ff.224cd","type":"ibmiot out","z":"b40bf3.8402f41","authentication":"apiKey","apiKey":"5369f678.f7a268","outputType":"cmd","deviceId":"9010","deviceType":"rsip","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":460,"y":740,"wires":[]},{"id":"e8f729e8.2cd698","type":"ibmiot in","z":"b40bf3.8402f41","authentication":"apiKey","apiKey":"5369f678.f7a268","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"9010","applicationId":"","deviceType":"rsip","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":120,"wires":[["3463280a.1a50c8","52b22bda.4e6654","20c1da36.9d7526","a9b38603.062488"]]},{"id":"8f89da22.9a1738","type":"ui_button","z":"b40bf3.8402f41","name":"motor on","group":"1d0fcb9f.a0d4e4","order":3,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":160,"y":520,"wires":[["3178d12e.a4cfde","8f8281ff.224cd"]]},{"id":"a4e48d52.de451","type":"ui_button","z":"b40bf3.8402f41","name":"motor off","group":"1d0fcb9f.a0d4e4","order":4,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":160,"y":560,"wires":[["3178d12e.a4cfde","8f8281ff.224cd"]]},{"id":"5f1c9e45.5edea","type":"ui_gauge","z":"b40bf3.8402f41","name":"temperature","group":"1d0fcb9f.a0d4e4","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":180,"wires":[]},{"id":"7ce97666.24ef08","type":"ui_gauge","z":"b40bf3.8402f41","name":"humidity","group":"1d0fcb9f.a0d4e4","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":240,"wires":[]},{"id":"cf57b7d9.754478","type":"ui_gauge","z":"b40bf3.8402f41","name":"moisture","group":"1d0fcb9f.a0d4e4","order":2,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":300,"wires":[]},{"id":"a9b38603.062488","type":"function","z":"b40bf3.8402f41","name":"moisture","func":"global.set('moisture',msg.payload.d.moisture)\nreturn{payload:msg.payload.d.moisture}","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["cf57b7d9.754478","3463280a.1a50c8"]]},{"id":"5369f678.f7a268","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"f2cody.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1d0fcb9f.a0d4e4","type":"ui_group","z":"","name":"smart home","tab":"1e55e3ce.69f6cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e55e3ce.69f6cc","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]